Question 1 - Data Preprocessing

In [140]:
import pandas as pd

col_mat_nuw_output_df = pd.read_csv('col_mat_nuw_output.csv')
kan_output_df = pd.read_csv('kan_output.csv')
mon_kur_jaf_output = pd.read_csv('mon_kur_jaf_output.csv')

In [141]:
col_mat_nuw_output_df.columns = ['HCHO Reading', 'Location', 'Current Date', 'Next Date']
kan_output_df.columns = ['HCHO Reading', 'Location', 'Current Date', 'Next Date']
mon_kur_jaf_output.columns = ['HCHO Reading', 'Location', 'Current Date', 'Next Date']

In [142]:
col_mat_nuw_output_df

      HCHO Reading             Location Current Date   Next Date
0         0.000263       Colombo Proper     1/2/2019    1/3/2019
1         0.000099       Colombo Proper     1/3/2019    1/4/2019
2         0.000210       Colombo Proper     1/4/2019    1/5/2019
3         0.000179       Colombo Proper     1/5/2019    1/6/2019
4         0.000108       Colombo Proper     1/6/2019    1/7/2019
...            ...                  ...          ...         ...
5472           NaN  Nuwara Eliya Proper   12/27/2023  12/28/2023
5473           NaN  Nuwara Eliya Proper   12/28/2023  12/29/2023
5474           NaN  Nuwara Eliya Proper   12/29/2023  12/30/2023
5475           NaN  Nuwara Eliya Proper   12/30/2023  12/31/2023
5476           NaN  Nuwara Eliya Proper   12/31/2023    1/1/2024

[5477 rows x 4 columns]

In [143]:
kan_output_df

      HCHO Reading      Location Current Date   Next Date
0         0.000092  Kandy Proper     1/2/2019    1/3/2019
1              NaN  Kandy Proper     1/3/2019    1/4/2019
2         0.000191  Kandy Proper     1/4/2019    1/5/2019
3         0.000122  Kandy Proper     1/5/2019    1/6/2019
4        -0.000065  Kandy Proper     1/6/2019    1/7/2019
...            ...           ...          ...         ...
1820           NaN  Kandy Proper   12/27/2023  12/28/2023
1821           NaN  Kandy Proper   12/28/2023  12/29/2023
1822           NaN  Kandy Proper   12/29/2023  12/30/2023
1823      0.000056  Kandy Proper   12/30/2023  12/31/2023
1824           NaN  Kandy Proper   12/31/2023    1/1/2024

[1825 rows x 4 columns]

In [144]:
mon_kur_jaf_output

      HCHO Reading            Location Current Date   Next Date
0         0.000019  Bibile, Monaragala     1/2/2019    1/3/2019
1         0.000028  Bibile, Monaragala     1/3/2019    1/4/2019
2         0.000037  Bibile, Monaragala     1/4/2019    1/5/2019
3        -0.000018  Bibile, Monaragala     1/5/2019    1/6/2019
4         0.000146  Bibile, Monaragala     1/6/2019    1/7/2019
...            ...                 ...          ...         ...
5472           NaN       Jaffna Proper   12/27/2023  12/28/2023
5473      0.000051       Jaffna Proper   12/28/2023  12/29/2023
5474      0.000127       Jaffna Proper   12/29/2023  12/30/2023
5475      0.000117       Jaffna Proper   12/30/2023  12/31/2023
5476      0.000065       Jaffna Proper   12/31/2023    1/1/2024

[5477 rows x 4 columns]

In [145]:
col_mat_nuw_output_df.shape

(5477, 4)

In [146]:
kan_output_df.shape

(1825, 4)

In [147]:
mon_kur_jaf_output.shape

(5477, 4)

Identifying Unique Values in the Col_Mat_Nuwara dataframe

In [148]:
for column in col_mat_nuw_output_df.columns:
    unique_values = col_mat_nuw_output_df[column].unique()
    print((f"{column} unique values"))
    count = col_mat_nuw_output_df[column].nunique()  # Count the number of unique values
    print("Number of unique values:", count)
    print(unique_values)
    print('\n')

HCHO Reading unique values
Number of unique values: 3021
[2.62552000e-04 9.85211890e-05 2.09932000e-04 ... 1.07861000e-04
 5.93039927e-06 2.36988000e-04]


Location unique values
Number of unique values: 3
['Colombo Proper' 'Deniyaya, Matara' 'Nuwara Eliya Proper']


Current Date unique values
Number of unique values: 1826
['1/2/2019' '1/3/2019' '1/4/2019' ... '12/30/2023' '12/31/2023' '1/1/2019']


Next Date unique values
Number of unique values: 1826
['1/3/2019' '1/4/2019' '1/5/2019' ... '12/31/2023' '1/1/2024' '1/2/2019']

Identifying Unique Values in the Kandy dataframe

In [149]:
for column in kan_output_df.columns:
    unique_values = kan_output_df[column].unique()
    print((f"{column} unique values"))
    count = kan_output_df[column].nunique()  # Count the number of unique values
    print("Number of unique values:", count)
    print(unique_values)
    print('\n')

HCHO Reading unique values
Number of unique values: 1030
[ 9.22039125e-05             nan  1.90868000e-04 ... -6.90000000e-06
  1.16311000e-04  5.59012026e-05]


Location unique values
Number of unique values: 1
['Kandy Proper']


Current Date unique values
Number of unique values: 1825
['1/2/2019' '1/3/2019' '1/4/2019' ... '12/29/2023' '12/30/2023'
 '12/31/2023']


Next Date unique values
Number of unique values: 1825
['1/3/2019' '1/4/2019' '1/5/2019' ... '12/30/2023' '12/31/2023' '1/1/2024']

Identifying Unique Values in the Mon_Kurun_Jaff dataframe

In [150]:
for column in mon_kur_jaf_output.columns:
    unique_values = mon_kur_jaf_output[column].unique()
    print((f"{column} unique values"))
    count = mon_kur_jaf_output[column].nunique()  # Count the number of unique values
    print("Number of unique values:", count)
    print(unique_values)
    print('\n')

HCHO Reading unique values
Number of unique values: 3808
[1.91991465e-05 2.81144794e-05 3.74799818e-05 ... 1.26724000e-04
 1.16659000e-04 6.54085299e-05]


Location unique values
Number of unique values: 3
['Bibile, Monaragala' 'Kurunegala Proper' 'Jaffna Proper']


Current Date unique values
Number of unique values: 1826
['1/2/2019' '1/3/2019' '1/4/2019' ... '12/30/2023' '12/31/2023' '1/1/2019']


Next Date unique values
Number of unique values: 1826
['1/3/2019' '1/4/2019' '1/5/2019' ... '12/31/2023' '1/1/2024' '1/2/2019']

Identify rows with NaN values in Col_Mat_Nuwara dataframe

In [151]:
non_numeric_rows = col_mat_nuw_output_df[col_mat_nuw_output_df['HCHO Reading'].isna()]
print("Non-numeric values in 'HCHO Reading' column:")
print(non_numeric_rows)

Non-numeric values in 'HCHO Reading' column:
      HCHO Reading             Location Current Date   Next Date
11             NaN       Colombo Proper    1/13/2019   1/14/2019
27             NaN       Colombo Proper    1/29/2019   1/30/2019
33             NaN       Colombo Proper     2/4/2019    2/5/2019
43             NaN       Colombo Proper    2/14/2019   2/15/2019
58             NaN       Colombo Proper     3/1/2019    3/2/2019
...            ...                  ...          ...         ...
5472           NaN  Nuwara Eliya Proper   12/27/2023  12/28/2023
5473           NaN  Nuwara Eliya Proper   12/28/2023  12/29/2023
5474           NaN  Nuwara Eliya Proper   12/29/2023  12/30/2023
5475           NaN  Nuwara Eliya Proper   12/30/2023  12/31/2023
5476           NaN  Nuwara Eliya Proper   12/31/2023    1/1/2024

[2419 rows x 4 columns]

Identify rows with NaN values in Kandy dataframe

In [152]:
non_numeric_rows = kan_output_df[kan_output_df['HCHO Reading'].isna()]
print("Non-numeric values in 'HCHO Reading' column:")
print(non_numeric_rows)

Non-numeric values in 'HCHO Reading' column:
      HCHO Reading      Location Current Date   Next Date
1              NaN  Kandy Proper     1/3/2019    1/4/2019
11             NaN  Kandy Proper    1/13/2019   1/14/2019
12             NaN  Kandy Proper    1/14/2019   1/15/2019
14             NaN  Kandy Proper    1/16/2019   1/17/2019
32             NaN  Kandy Proper     2/3/2019    2/4/2019
...            ...           ...          ...         ...
1819           NaN  Kandy Proper   12/26/2023  12/27/2023
1820           NaN  Kandy Proper   12/27/2023  12/28/2023
1821           NaN  Kandy Proper   12/28/2023  12/29/2023
1822           NaN  Kandy Proper   12/29/2023  12/30/2023
1824           NaN  Kandy Proper   12/31/2023    1/1/2024

[793 rows x 4 columns]

Identify rows with NaN values in Mon_Kurun_Jaff dataframe

In [153]:
non_numeric_rows = mon_kur_jaf_output[mon_kur_jaf_output['HCHO Reading'].isna()]
print("Non-numeric values in 'HCHO Reading' column:")
print(non_numeric_rows)

Non-numeric values in 'HCHO Reading' column:
      HCHO Reading            Location Current Date   Next Date
6              NaN  Bibile, Monaragala     1/8/2019    1/9/2019
8              NaN  Bibile, Monaragala    1/10/2019   1/11/2019
11             NaN  Bibile, Monaragala    1/13/2019   1/14/2019
12             NaN  Bibile, Monaragala    1/14/2019   1/15/2019
16             NaN  Bibile, Monaragala    1/18/2019   1/19/2019
...            ...                 ...          ...         ...
5466           NaN       Jaffna Proper   12/21/2023  12/22/2023
5467           NaN       Jaffna Proper   12/22/2023  12/23/2023
5468           NaN       Jaffna Proper   12/23/2023  12/24/2023
5470           NaN       Jaffna Proper   12/25/2023  12/26/2023
5472           NaN       Jaffna Proper   12/27/2023  12/28/2023

[1651 rows x 4 columns]

Finding mean of correct values in HCHO Reading column in Col_Mat_Nuwara dataframe

In [154]:
correct_values_in_HCHO_Reading_Col_Mat_Nuw = col_mat_nuw_output_df[pd.notna(col_mat_nuw_output_df["HCHO Reading"])]
mean_Correct_values_in_HCHO_Reading_Col_Mat_Nuw = correct_values_in_HCHO_Reading_Col_Mat_Nuw["HCHO Reading"].mean()
mean_Correct_values_in_HCHO_Reading_Col_Mat_Nuw

0.00012001784979701027

Finding mean of correct values in HCHO Reading column in Kandy dataframe

In [155]:
correct_values_in_HCHO_Reading_Kandy = kan_output_df[pd.notna(kan_output_df["HCHO Reading"])]
mean_Correct_values_in_HCHO_Reading_Kandy = correct_values_in_HCHO_Reading_Kandy["HCHO Reading"].mean()
mean_Correct_values_in_HCHO_Reading_Kandy

0.00010630901268010904

Finding mean of correct values in HCHO Reading column in Mon_Kurun_Jaff dataframe

In [156]:
correct_values_in_HCHO_Reading_Mon_Kuru_Jaf = mon_kur_jaf_output[pd.notna(mon_kur_jaf_output["HCHO Reading"])]
mean_Correct_values_in_HCHO_Reading_Mon_Kuru_Jaff = correct_values_in_HCHO_Reading_Mon_Kuru_Jaf["HCHO Reading"].mean()
mean_Correct_values_in_HCHO_Reading_Mon_Kuru_Jaff

0.00012214968209882217

Replacing NaN values in HCHO Reading column in Col_Mat_Nuwara dataframe

In [157]:
col_mat_nuw_output_df["HCHO Reading"].fillna(mean_Correct_values_in_HCHO_Reading_Col_Mat_Nuw, inplace=True)

C:\Users\deela\AppData\Local\Temp\ipykernel_14028\1125163092.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  col_mat_nuw_output_df["HCHO Reading"].fillna(mean_Correct_values_in_HCHO_Reading_Col_Mat_Nuw, inplace=True)

Replacing NaN values in HCHO Reading column in Kandy dataframe

In [158]:
kan_output_df["HCHO Reading"].fillna(mean_Correct_values_in_HCHO_Reading_Kandy, inplace=True)

C:\Users\deela\AppData\Local\Temp\ipykernel_14028\1797203038.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  kan_output_df["HCHO Reading"].fillna(mean_Correct_values_in_HCHO_Reading_Kandy, inplace=True)

Replacing NaN values in HCHO Reading column in Mon_Kurun_Jaff dataframe

In [159]:
mon_kur_jaf_output["HCHO Reading"].fillna(mean_Correct_values_in_HCHO_Reading_Mon_Kuru_Jaff, inplace=True)

C:\Users\deela\AppData\Local\Temp\ipykernel_14028\2508255905.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mon_kur_jaf_output["HCHO Reading"].fillna(mean_Correct_values_in_HCHO_Reading_Mon_Kuru_Jaff, inplace=True)

Make sure no missing values in Col_Mat_Nuwara Data Frame

In [160]:
col_mat_nuw_output_df.isnull().sum()

HCHO Reading    0
Location        0
Current Date    0
Next Date       0
dtype: int64

Make sure no missing values in Kandy Data Frame

In [161]:
kan_output_df.isnull().sum()

HCHO Reading    0
Location        0
Current Date    0
Next Date       0
dtype: int64

Make sure no missing values in Mon_Kurun_Jaff Data Frame

In [162]:
mon_kur_jaf_output.isnull().sum()

HCHO Reading    0
Location        0
Current Date    0
Next Date       0
dtype: int64

Retrieving a statistical overniew about Col_Mat_Nuwara DataFrame

In [163]:
col_mat_nuw_output_df.describe()

       HCHO Reading
count   5477.000000
mean       0.000120
std        0.000075
min       -0.000259
25%        0.000099
50%        0.000120
75%        0.000121
max        0.000900

Retrieving a statistical overniew about Kandy DataFrame

In [164]:
kan_output_df.describe()

       HCHO Reading
count   1825.000000
mean       0.000106
std        0.000069
min       -0.000300
25%        0.000093
50%        0.000106
75%        0.000116
max        0.000705

Retrieving a statistical overniew about Mon_Kurun_Jaff DataFrame

In [165]:
mon_kur_jaf_output.describe()

       HCHO Reading
count   5477.000000
mean       0.000122
std        0.000072
min       -0.000352
25%        0.000088
50%        0.000122
75%        0.000145
max        0.000584