Question 1 - Data Preprocessing

In [80]:
import pandas as pd

col_mat_nuw_output_df = pd.read_csv('col_mat_nuw_output.csv')

In [81]:
col_mat_nuw_output_df.columns = ['HCHO Reading', 'Location', 'Current Date', 'Next Date']
col_mat_nuw_output_df

      HCHO Reading             Location Current Date   Next Date
0         0.000263       Colombo Proper     1/2/2019    1/3/2019
1         0.000099       Colombo Proper     1/3/2019    1/4/2019
2         0.000210       Colombo Proper     1/4/2019    1/5/2019
3         0.000179       Colombo Proper     1/5/2019    1/6/2019
4         0.000108       Colombo Proper     1/6/2019    1/7/2019
...            ...                  ...          ...         ...
5472           NaN  Nuwara Eliya Proper   12/27/2023  12/28/2023
5473           NaN  Nuwara Eliya Proper   12/28/2023  12/29/2023
5474           NaN  Nuwara Eliya Proper   12/29/2023  12/30/2023
5475           NaN  Nuwara Eliya Proper   12/30/2023  12/31/2023
5476           NaN  Nuwara Eliya Proper   12/31/2023    1/1/2024

[5477 rows x 4 columns]

In [85]:
col_mat_nuw_output_df.shape

(5477, 4)

Identifying Unique Values in the dataframe

In [86]:
for column in col_mat_nuw_output_df.columns:
    unique_values = col_mat_nuw_output_df[column].unique()
    print((f"{column} unique values"))
    count = col_mat_nuw_output_df[column].nunique()  # Count the number of unique values
    print("Number of unique values:", count)
    print(unique_values)
    print('\n')

HCHO Reading unique values
Number of unique values: 3021
[2.62552000e-04 9.85211890e-05 2.09932000e-04 ... 1.07861000e-04
 5.93039927e-06 2.36988000e-04]


Location unique values
Number of unique values: 3
['Colombo Proper' 'Deniyaya, Matara' 'Nuwara Eliya Proper']


Current Date unique values
Number of unique values: 1826
['1/2/2019' '1/3/2019' '1/4/2019' ... '12/30/2023' '12/31/2023' '1/1/2019']


Next Date unique values
Number of unique values: 1826
['1/3/2019' '1/4/2019' '1/5/2019' ... '12/31/2023' '1/1/2024' '1/2/2019']

In [87]:
# Identify rows with NaN values
non_numeric_rows = col_mat_nuw_output_df[col_mat_nuw_output_df['HCHO Reading'].isna()]
print("Non-numeric values in 'HCHO Reading' column:")
print(non_numeric_rows)

Non-numeric values in 'HCHO Reading' column:
      HCHO Reading             Location Current Date   Next Date
11             NaN       Colombo Proper    1/13/2019   1/14/2019
27             NaN       Colombo Proper    1/29/2019   1/30/2019
33             NaN       Colombo Proper     2/4/2019    2/5/2019
43             NaN       Colombo Proper    2/14/2019   2/15/2019
58             NaN       Colombo Proper     3/1/2019    3/2/2019
...            ...                  ...          ...         ...
5472           NaN  Nuwara Eliya Proper   12/27/2023  12/28/2023
5473           NaN  Nuwara Eliya Proper   12/28/2023  12/29/2023
5474           NaN  Nuwara Eliya Proper   12/29/2023  12/30/2023
5475           NaN  Nuwara Eliya Proper   12/30/2023  12/31/2023
5476           NaN  Nuwara Eliya Proper   12/31/2023    1/1/2024

[2419 rows x 4 columns]

In [89]:
correct_values_in_HCHO_Reading = col_mat_nuw_output_df[pd.notna(col_mat_nuw_output_df["HCHO Reading"])]
mean_Correct_values_in_HCHO_Reading = correct_values_in_HCHO_Reading["HCHO Reading"].mean()
mean_Correct_values_in_HCHO_Reading

0.00012001784979701027

Replacing NaN values in HCHO Reading column

In [90]:
# Replace NaN values in the "HCHO Reading" column with the mean
col_mat_nuw_output_df["HCHO Reading"].fillna(mean_Correct_values_in_HCHO_Reading, inplace=True)

C:\Users\deela\AppData\Local\Temp\ipykernel_14028\694971784.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  col_mat_nuw_output_df["HCHO Reading"].fillna(mean_Correct_values_in_HCHO_Reading, inplace=True)

In [91]:
col_mat_nuw_output_df.isnull().sum()

HCHO Reading    0
Location        0
Current Date    0
Next Date       0
dtype: int64

In [92]:
col_mat_nuw_output_df.describe()

       HCHO Reading
count   5477.000000
mean       0.000120
std        0.000075
min       -0.000259
25%        0.000099
50%        0.000120
75%        0.000121
max        0.000900